# =========================================================
# Zivex Environment Variables
# =========================================================

# Discord Bot
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Flask
SESSION_SECRET=

# Database
DATABASE_URL=sqlite:///zivex.db

# Web
WEB_HOST=0.0.0.0
WEB_PORT=8080
WEB_URL=

# Environment
FLASK_DEBUG=false
